<!-- <div class="container-fluid">
    <div class="card m-5 shadow">
        <div class="card-body m-4">
            <app-quote-card></app-quote-card> -->
            <!-- <app-create-form [fields]="fields" [form]="form"></app-create-form> -->
        <!-- </div>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-quote-card></app-quote-card>
        </div>
        <div class="col-md-3">
            <app-quote-card></app-quote-card>
        </div>
        <div class="col-md-3">
            <app-quote-card></app-quote-card>
        </div>
        <div class="col-md-3">
            <app-quote-card></app-quote-card>
        </div>
    </div>
</div>